.club_container {
	width: 350px;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: left;
	border: 2px transparent black;
	box-shadow: inset;
	margin: 20px;
	border-radius: 20px;
}

#pageName {
	color: white;
	text-shadow: 1px;
	font-size: 40px;
	font-family: robotobold;
}

.club_container p {
	text-align: start;
}

.club_container em {
	margin: 0;
	text-align: start;
}

.club_body {
	font-size: 20px;
}

.club_thumbnail {
	max-height: 200px;
	object-fit: cover;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;

}

.club_info {
	text-align: end;
	float: right;
	margin: 6px;
}

.club_headline {
	font-family: var(--bold-font);
	font-size: 25px;
	margin: 6px;
	float: center;
}

.club_subtitle p {
	margin: 0px 6px 6px 6px;
}

.club_content {
	margin: 0px 6px 6px 6px  !important;
}

.row_club {
	padding-top: 70px;
	flex-direction: row;
	display: flex;

}