body {
	font-family: var(--norm-font);
}

#period {
	display: flex;
	justify-content: center;
	margin-top: 1vw;
}

#period__box {
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-family: var(--bold-font);
	letter-spacing: 0.2vw;
	flex: 5;
	margin-left: 1vw;
	margin-right: 1vw;
	overflow-y: hidden;
	font-size: 0;
	border-radius: 0;
}

#period__header {
	width: 60vw;
	font-size: 4vw;
	margin: 2vw auto 0.5vw;
	padding: 0;
	border: 0;
	text-align: center;
	font-family: var(--bold-font);
	letter-spacing: 0.2vw;
}

#period__header:focus-visible {
	outline: 0;
}

#period__header.active:focus-visible {
	border-bottom: 0.5vw solid var(--secondary-background-color);
	margin-bottom: 0;
}

#period__time {
	letter-spacing: 0;
	font-size: 8vw;
	margin: 0.5vw 0 2vw;
}

#period__gallery {
	min-height: 8.4vw;
}

.gallery-dot {
	width: 4.2vw;
	padding: 4.2vw 0 0;
	background: var(--secondary-background-color);
	border-radius: 50%;
	display: inline-block;
	margin: 0 1.5vw 3vw;
	position: relative;
	cursor: default;
}

.gallery-dot.active {
	background-color: var(--active-color);
}

.gallery-dot:hover {
	background-color: var(--secondary-background-color);
}

.gallery-dot:before {
	content: '';
	position: absolute;
	background-color: transparent;
	top: -1.1vw;
	left: -1.1vw;
	right: -1.1vw;
	bottom: -1.1vw;
	border-radius: 1.1vw;
}


.arrow {
	vertical-align: middle;
	flex: 1;
	padding: 0;
	margin: 0;
	font-size: 15vw;
	display: inline-block;
	top: 0px;
	font-family: var(--norm-font);
}

.arrow:hover {
	background-color: var(--button-hover-background);
	color: var(--button-hover-text);
}

#countdown {
	letter-spacing: 0.5vw;
	font-family: var(--bold-font);
	text-align: center;
	font-size: 0;
	overflow-y: hidden;
}

#countdown__timer {
	position: relative;
	padding: 0;
	margin: 0;
	font-size: 12vw;
	color: var(--active-color);
}

#countdown__bar, #hall-pass .countdown__bar {
	position: relative;
	margin: 0 auto 2vw;
	width: 90%;
	height: 2.5vw;
	background-color: var(--secondary-background-color);
	overflow-x: hidden;
}

#countdown__progress, #hall-pass .countdown__bar .countdown__progress {
	width: 0%;
	height: 2.5vw;
	background-color: var(--active-color);
	transition: width 1s linear;
}

#sub.hidden {
	display: none;
}

#sub div {
	display: flex;
}

#sub div button {
	vertical-align: middle;
	flex: 1;
	padding: 2vw;
	font-size: 8vw;
	display: inline-block;
	top: 0px;
	font-family: var(--bold-font);
}

#sub div button.active {
	background-color: var(--active-color);
	color: var(--button-active-color);
}

#sub div button.active:hover {
	background-color: var(--active-hover-color);
	color: var(--button-active-color);
}

/* #lunch #lunch__toggle {
  width: 100%;
  vertical-align: middle;
  padding: 1vw;
  font-size: 5vw;
  display: inline-block;
  top: 0px;
  font-family: var(--bold-font);
} */

#extra-features {
	display: flex;
}

#extra-features a {
	flex: 1;
	text-decoration: none;
}

#extra-features a div {
	padding: 1vw;
	font-size: 5vw;
	font-family: var(--norm-font);
}

#info {
	display: flex;
}

#splash {
	display: inline-flex;
	align-items: center;
	flex: 8;
	height: auto;
	text-align: left;
}

#splash svg {
	display: inline-block;
	vertical-align: middle;
	margin: 2vw 0;
	width: 10vw;
	height: 10vw;
}

#splash__body, #splash__body--alt, #splash__body--alt2 {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	padding: 2vw;
	padding-left: 0;
	font-family: var(--norm-font);
	font-size: 4vw;
	width: auto;
	height: auto;
	text-align: left;
	overflow: hidden;
}

#splash__body a, #splash__body--alt a, #splash__body--alt2 a {
	color: var(--anchor-color);
}

#splash__body a:hover, #splash__body--alt a:hover, #splash__body--alt2 a:hover {
	color: var(--anchor-hover);
}

#splash__body p {
	font-family: var(--norm-font);
	position: relative;
	margin: 0;
	outline: none;
}

#splash__body--alt, #splash__body--alt2 {
	display: none;
}

#splash__puzzle {
	display: inline-block;
}

#splash__puzzle-button {
	position: relative;
	display: inline-block;
	flex: 1;
	margin: 0 0 0 1vw;
	padding: 0;
	height: auto;
	width: auto;
	font-size: 0;
}

#splash__puzzle-button img {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -65%);
	padding: 0 2vw;
	width: 8vw;
	height: 8vw;
}

#splash__puzzle-button p {
	position: absolute;
	top: 80%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: var(--norm-font);
	text-decoration: none;
	font-size: 3vw;
	margin: auto;
	width: 8vw;
}

#splash__puzzle-button > a {
	display: inline-block;
	height: 100%;
	width: 100%;
}

#splash__puzzle-button.not-new img {
	top: 50%;
	width: 8vw;
	transform: translate(-50%, -50%);
}

#splash__puzzle-button.not-new > a > #new-puzzle-info-text {
	display: none;
}

#splash__reopen button {
	width: 100%;
	background: var(--button-background-color);
	color: var(--button-text-color);
	font-size: 4vw;
	font-family: var(--norm-font);
	border-radius: 5px;
	padding: 0.5em 1em;
}

#splash__reopen a {
	color: inherit;
	text-decoration: none;
}

#link-header {
	font-size: 0;
}

#link-header img {
	padding: 2vw;
	height: 10vw;
}

#link-info {
	display: flex;
}

#link-info div {
	flex: 1;
}

#link-info p {
	margin: 0;
	padding: 3vw 0;
	font-size: 4vw;
	font-family: var(--norm-font);
}

#link-info__company img {
	display: inline-block;
	vertical-align: middle;
	padding: 1vw 0;
	width: 13vw;
}

#link-info__company p {
	display: inline-block;
	vertical-align: middle;
}

#link-button {
	width: 100%;
	padding: 1vw;
	font-family: var(--norm-font);
	font-size: 7vw;
}

#link-submit {
	width: 100%;
	height: 100%;
	border: none;
	font-family: var(--norm-font);
	font-size: 7vw;
	background: rgb(0, 0, 0, 0);
	color: var(--header-text-color);
}

#link-coupon {
	position: fixed;
	display: none;
	top: 50%;
	transform: translate(-50%, -50%);
	left: 50%;
	width: 90vw;
	height: auto;
	text-align: center;
	z-index: 100;
}

#link-coupon img {
	position: relative;
	top: 0;
	width: 100%;
}

#link-coupon.active {
	display: block;
}

#SMY {
	font-size: 0;
}

#SMY img {
	width: 98%;
	padding: 1%;
}

#new-update {
	position: absolute;
	bottom: 90%;
	left: auto;
	display: inline-block;
}

#new-update img {
	margin: 2vw;
	width: auto;
	height: 5vw;
	animation: shake 1s;
	animation-iteration-count: infinite;
	content: url("../img/placeholder.png");

}

.controls {
	padding: 24px;
}

.modal-container {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.15);
	opacity: 0;
	visibility: hidden;
}

.modal-dialog {
	width: 70vmin;
	height: 70vmin;
	position: relative;
	overflow: hidden;
}

.modal-svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* fill: red; */

}

.modal-content {
	position: relative;
	top: 0;
	left: 0;
	padding: 24px;
	visibility: hidden;
	opacity: 0;
	color: rgba(255, 255, 255, 0.87);
}

/* Hall Pass */
/*
#hall-pass {
  position: relative;
  font-size: 0;
  overflow-y: hidden;
  display: none;
}
#hall-pass.active {
  display: block;
}
#hall-pass .unit__info {
  width: 90%;
  margin: 2vw auto 1.5vw;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
#hall-pass .unit__info h1 {
  margin: 0;
  font-size: 5vw;
  line-height: 5vw;
  font-family: var(--bold-font);
}
#hall-pass .unit__info p {
  margin: 0;
  font-size: 5vw;
  line-height: 5vw;
  font-family: var(--bold-font);
  color: var(--highlight-text-color)
} */

/* Video */

/* #thank-you {
  width: 100%;
}

#bugs h2{
  margin: 0;
  padding: 1.33vw;
  font-size: 4vw;
}
#bugs p{
  margin: 0;
  font-size: 3.2vw;
  padding-bottom: 1.33vw;
}

#video-container {
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  width: 80vw;
  height: 45vw;
  transform: translate(-50%, -50%);
  z-index: 100;
}
#video-container.active {
  display: block;
}
#video-container #player{
  position: absolute;
  width: 100%;
  height: 100%;
}

#help-popup {
  position: fixed;
  margin: 0;
  padding: 2vw;
  font-size: 4vw;
  bottom: 12vw;
  left: 0;
  width: 100vw;
  background: var(--highlight-header);
  z-index: 1;
  text-align: center;
  transform: translateY(150%);
  transition: transform 0.5s;
}
#help-popup.active {
  display: block;
  transform: translateY(0);
}
#help-popup a {
  color: white;
} */

@media screen and (min-width: 500px) {
	#help-popup {
		padding: 10px;
		font-size: 20px;
		bottom: 60px;
	}

	#period {
		margin-top: 5px;
	}

	#period__box {
		letter-spacing: 1px;
		margin-left: 5px;
		margin-right: 5px;
	}

	#period__header {
		width: 300px;
		font-size: 20px;
		margin: 10px auto 2.5px;
		letter-spacing: 1px;
	}

	#period__header.active:focus-visible {
		border-bottom: 2.5px solid var(--secondary-background-color);
		background-color: var(--container-text-color);
	}

	#period__time {
		font-size: 40px;
		margin: 2.5px 0 10px;
	}

	#period__gallery {
		min-height: 42px;
	}

	.gallery-dot {
		width: 21px;
		padding: 21px 0 0;
		margin: 0 7.5px 15px;
	}

	.gallery-dot:before {
		top: -5px;
		left: -5px;
		right: -5px;
		bottom: -5px;
		border-radius: 5px;
	}

	.arrow {
		font-size: 75px;
		flex: none;
		width: 67px;
	}

	#countdown {
		letter-spacing: 2.5px;
		margin: 0 auto 0px;
	}

	#countdown__timer {
		font-size: 60px;
	}

	#countdown__bar, #hall-pass .countdown__bar {
		margin: 0 auto 10px;
		height: 12.5px;
	}

	#countdown__progress, #hall-pass .countdown__bar .countdown__progress {
		height: 12.5px;
	}

	#sub div button {
		padding: 10px;
		font-size: 40px;
	}

	/* #lunch #lunch__toggle {
	  padding: 5px;
	  font-size: 25px;
	} */
	#extra-features a div {
		padding: 5px;
		font-size: 25px;
	}

	#splash svg {
		padding-left: 5px;
		width: 50px;
		height: 50px;
		margin: 10px 0;
	}

	#splash__body, #splash__body--alt, #splash__body--alt2 {
		padding: 10px;
		padding-left: 0;
		font-size: 20px;
	}

	#splash__puzzle-button {
		margin: 0 0 0 5px;
	}

	#splash__puzzle-button img {
		padding: 10px;
		width: 40px;
		height: 40px;
	}

	#splash__puzzle-button p {
		font-size: 15px;
		width: 40px;
	}

	#splash__puzzle-button.not-new img {
		width: 40px;
	}

	#splash__reopen button {
		font-size: 20px;
	}

	#link-header img {
		padding: 10px;
		height: 50px;
	}

	#link-info p {
		padding: 15px 0;
		font-size: 25px;
	}

	#link-info__company img {
		padding: 5px 0;
		width: 65px;
	}

	#link-button {
		padding: 5px;
		font-size: 35px;
	}

	#link-submit {
		font-size: 35px;
	}

	#link-coupon {
		width: 450px;
		padding: 20px 0;
	}

	/* Hall Pass */
	#hall-pass .unit__info {
		margin: 10px auto 7.5px;
	}

	#hall-pass .unit__info h1 {
		font-size: 25px;
		line-height: 25px;
	}

	#hall-pass .unit__info p {
		font-size: 25px;
		line-height: 25px;
	}

}

/* Keyframes Storage */
@keyframes shake {
	0% {
		transform: scale(1, 1) rotate(0deg);
	}
	10% {
		transform: scale(1, 1) rotate(0deg);
	}
	20% {
		transform: scale(1, 1) rotate(0deg);
	}
	30% {
		transform: scale(1, 1) rotate(0deg);
	}
	40% {
		transform: scale(1.1, 1.1) rotate(5deg);
	}
	50% {
		transform: scale(1.1, 1.1) rotate(-6deg);
	}
	60% {
		transform: scale(1.1, 1.1) rotate(7deg);
	}
	70% {
		transform: scale(1.2, 1.2) rotate(-8deg);
	}
	80% {
		transform: scale(1.3, 1.3) rotate(9deg);
	}
	90% {
		transform: scale(1.3, 1.3) rotate(-10deg);
	}
	95% {
		transform: scale(1.3, 1.3) rotate(9deg);
	}
	96% {
		transform: scale(1.4, 1.4) rotate(-8deg);
	}
	97% {
		transform: scale(1.3, 1.3) rotate(7deg);
	}
	98% {
		transform: scale(1.2, 1.2) rotate(-6deg);
	}
	99% {
		transform: scale(1.1, 1.1) rotate(5deg);
	}
	100% {
		transform: scale(1, 1) rotate(0deg);
	}


}
