.weather_contents {
	display: flex;
	align-items: center;
}

.weather_contents span {
	margin: 6px;
}

.weather_left {
	height: fit-content;
}
.weather_middle {
	margin-left: auto !important;
	height: fit-content;
}
.weather_right {
	height: 64px;
}

.weather_middle b {
	font-family: var(--bold-font);
	font-size: 40px;
}

.weather_data_container p {
	margin: 0px;
	text-align: start;
}

.weather_data_container img {
	height: 64px;
	width: 64px;
}