.alert_container {
	padding: 6px;
}

.alert_body {
	display: flex;
	justify-content: center;
}
.alert_body p {
	margin: 0;
	font-size: 20px;
	overflow-wrap: anywhere;
}

.alert_buttons {
	display: flex;
	justify-content: center;
}
.alert_buttons button {
	color: var(--anchor-color);
	background-color: transparent;
	text-decoration: underline;
}
.alert_buttons button:hover {
	background-color: var(--button-hover-background);
	color: var(--button-hover-text);
}