.lunch_contents {
	padding: 6px;
}

.lunch_menus p {
	margin: 0px;
}

.lunch_title {
	margin: 6px;
}

.lunch_menus {
	display: flex;
	justify-content: center;
}

.lunch_title {
	font-family: var(--bold-font);
}

.lunch_menus span {
	margin-left: 3px;
	margin-right: 3px;
}