{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/ico" href="{% static 'img/favicon.ico' %}">

    <!-- Inline script to set the theme immediately -->
    <script>
    (function() {
        var savedTheme = localStorage.getItem('selectedTheme') || 'default';
        document.write('<link rel="stylesheet" href= "{% get_static_prefix %}' + savedTheme + '.css" id="theme-style">');
    })();
    </script>

    <!-- CSS files -->
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    {% block css %}{% endblock %}

    <!-- Current theme -->
    <link rel="stylesheet" href="" id="theme-style"> <!-- default theme -->
</head>
<body>
    <header>
        <div class="{% block header_class %}{% endblock %}">{% block header_content %}{% endblock %}</div>
        <a href="/info">
            <div>
                <img src="{% static 'img/questionmark_white.png' %}" alt="?" width="40" height="40">
            </div>
        </a>
    </header>

    {% block content %}{% endblock %}

    <!-- Bottom bar -->
    <nav>
        <div id="nav-tabs">
            <a id="nav-tabs__home" href="/">
                <div>
                    <img class="svg-convert" src="{% static 'img/gradcap.svg' %}" alt="Home" width="34" height="34">
                    <span>Home</span>
                </div>
            </a>
            <a id="nav-tabs__clubs" href="/clubs">
                <div>
                    <img class="svg-convert" src="{% static 'img/clubs.svg' %}" alt="Clubs" width="34" height="34">
                    <span>Clubs</span>
                </div>
            </a>
            <a id="nav-tabs__cal" href="/calendar">
                <div>
                    <img class="svg-convert" src="{% static 'img/calendar.svg' %}" alt="Calendar" width="34" height="34">
                    <span>Calendar</span>
                </div>
            </a>
        </div>
    </nav>
    <!-- Bottom bar -->

    <script>
        window.addEventListener('load', function() {
            // Get all img tags with svg-to-inline class
            var imgTags = document.querySelectorAll('.svg-convert');

            // Loop through each tag found
            imgTags.forEach(function(img) {
                var imgURL = img.src;

                // Fetch the SVG
                fetch(imgURL)
                .then(response => response.text())
                .then(data => {
                    // Parse fetched SVG and replace img tag with it
                    var parser = new DOMParser();
                    var doc = parser.parseFromString(data, 'image/svg+xml');
                    img.parentNode.replaceChild(doc.documentElement, img);
                })
                .catch(error => {
                    console.error("Error fetching the SVG: ", error);
                });
            });
        });
    </script>

    {% block scripts %}{% endblock %}
</body>
</html>
