{% extends 'base.html' %}

{% load static %}

{% block title %}FHS News{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/club.css' %}">
{% endblock %}

{% block header_class %}clubs-title{% endblock %}
{% block header_content %}Clubs{% endblock %}

{% block content %}
    <section class="row row-club">
        <div id="modal-container"></div>
    </section>
{% endblock %}

{% block scripts %}
    {# In House Scripts #}
    <script src="{% static 'js/DOM.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/clubs.js' %}" charset="utf-8"></script>
{% endblock %}