:root {
  --norm-font: "robotoregular";
  --light-font: "robotolight";
  --bold-font: "robotobold";

  --background-color: #222222;
  --secondary-background-color: rgb(90,90,90);
  --container-background-color: #323232;
  --container-text-color: #ccc;
  --countdown-text-color: #ccc;
  --gallery-dot-color: #555;

  --button-background-color: black;
  --button-text-color: #ccc;
  --button-text-color-alt: #ccc;
  --button-hover-background: rgb(86, 86, 86);
  --button-hover-text: black;
  --button-active-color: #464646;

  --header-background-color: #464646;
  --header-text-color: #ccc;
  --header-icon-color: #3f3f3f;
  --navigation-background-color: #464646;
  --navigation-icon-color: rgb(100,100,100);
  --navigation-active-icon-color: #111111;

	--error-bg: rgb(50,0,0);

  --soft-color: #565656;

  --calendar-red: #c04040;
  --calendar-green: #50be50;
  --calendar-blue: #5da7b6;
  --calendar-yellow: #cfcf80;
  --calendar-silver: #a3a3a3;
  --calendar-purple: #9360cb;
  --calendar-gray: #737373;
  --calendar-white: #ccc;

  --active-color: black;
  --active-hover-color: rgb(30, 30, 30);
  --dark-color: #333;

  --outline-color: rgb(180,180,180);

  --anchor-color: #464646ower;
  --anchor-hover: rgb(200,200,200);
}
