:root {
  --norm-font: "robotoregular";
  --light-font: "robotolight";
  --bold-font: "robotobold";

  --background-image: url('../img/bitcoin.jpg');
  --secondary-background-color: rgb(210,210,210);
  --container-background-color: rgba(0, 0, 0, 0.5);
  --container-text-color: #ffffff;
  --countdown-text-color: #f5cfa8;
  --gallery-dot-color: #D3D3D3;

  --button-background-color: #000000;
  --button-text-color: #ffffff;
  --button-text-color-alt: #ffffff;
  --button-hover-background: rgba(0, 0, 0, 0.5);
  --button-hover-background-alt: rgba(247, 147, 26, 0.8);
  --button-hover-text: white;
  --button-active-color: rgba(0, 0, 0, 0.5);

  --soft-color: #eca34c;

  --calendar-red: #c04040;
  --calendar-green: #50be50;
  --calendar-blue: #5da7b6;
  --calendar-yellow: #cfcf80;
  --calendar-silver: #a3a3a3;
  --calendar-purple: #9360cb;
  --calendar-gray: #737373;
  --calendar-white: #ccc;


  --header-background-color: #f7931a;
  --header-text-color: white;
  --header-icon-color: white;
  --navigation-background-color: #f7931a;
  --navigation-icon-color: rgb(100,100,100);
  --navigation-active-icon-color: #b26910;

	--error-bg: rgb(247, 147, 26);

  --active-color: #f7931a;
  --active-hover-color: rgb(239, 162, 62);
  --dark-color: #6e4108;

  --outline-color: rgb(180,180,180);

  --anchor-color: #a66410;
  --anchor-hover: #000000;
}
