:root {
  --norm-font: "robotoregular";
  --light-font: "robotolight";
  --bold-font: "robotobold";

  --background-image: url('../img/magma.png');
  --secondary-background-color: rgb(210,210,210);
  --container-background-color: rgba(0, 0, 0, 0.5);
  --container-text-color: #ffffff;
  --countdown-text-color: #f3d1bb;
  --gallery-dot-color: #D3D3D3;

  --button-background-color: #000000;
  --button-text-color: #ffffff;
  --button-text-color-alt: #ffffff;
  --button-hover-background: rgba(0, 0, 0, 0.5);
  --button-hover-background-alt: rgba(134, 16, 16, 0.8);
  --button-hover-text: white;
  --button-active-color: rgba(0, 0, 0, 0.5);

  --soft-color: #af5e5e;

  --calendar-red: #c04040;
  --calendar-green: #50be50;
  --calendar-blue: #5da7b6;
  --calendar-yellow: #cfcf80;
  --calendar-silver: #a3a3a3;
  --calendar-purple: #9360cb;
  --calendar-gray: #737373;
  --calendar-white: #ccc;

  --header-background-color: #a42933;
  --header-text-color: white;
  --header-icon-color: white;
  --navigation-background-color: #501208;
  --navigation-icon-color: rgb(100,100,100);
  --navigation-active-icon-color: #c23c3c;

	--error-bg: rgb(182, 75, 57);

  --active-color: #dc2f09;
  --active-hover-color: rgb(241, 95, 67);
  --dark-color: #4d1005;

  --outline-color: rgb(180,180,180);

  --anchor-color: #9b3224;
  --anchor-hover: #000000;
}
