:root {
  --norm-font: "robotoregular";
  --light-font: "robotolight";
  --bold-font: "robotobold";

  --background-image: url('../img/mountain.png');
  --secondary-background-color: rgb(210,210,210);
  --container-background-color: rgba(0, 0, 0, 0.5);
  --container-text-color: #ccc;
  --countdown-text-color: #ccc;
  --gallery-dot-color: #D3D3D3;

  --button-background-color: white;
  --button-text-color: black;
  --button-text-color-alt: white;
  --button-hover-background: rgba(196, 196, 196, 0.5);
  --button-hover-background-alt: rgba(100, 149, 237, 0.8);
  --button-hover-text: black;
  --button-active-color: rgba(0, 0, 0, 0.5);

  --soft-color: #232;

  --calendar-red: #c04040;
  --calendar-green: #50be50;
  --calendar-blue: #5da7b6;
  --calendar-yellow: #cfcf80;
  --calendar-silver: #a3a3a3;
  --calendar-purple: #9360cb;
  --calendar-gray: #737373;
  --calendar-white: #ccc;


  --header-background-color: #333e33;
  --header-text-color: white;
  --header-icon-color: white;
  --navigation-background-color: #222822;
  --navigation-icon-color: rgb(100,100,100);
  --navigation-active-icon-color: #687;

	--error-bg: rgb(155,155,155);

  --active-color: #687;
  --active-hover-color: rgb(150,150,150);
  --dark-color: #38413b;

  --outline-color: rgb(180,180,180);

  --anchor-color: #e8e8e8;
  --anchor-hover: black;
}
