:root {
  --norm-font: "robotoregular";
  --light-font: "robotolight";
  --bold-font: "robotobold";

  --background-color: rgb(228,228,228);
  --secondary-background-color: rgb(210,210,210);
  --container-background-color: white;
  --container-text-color: black;
  --countdown-text-color: purple;
  --gallery-dot-color: #D3D3D3;

  --button-background-color: white;
  --button-text-color: black;
  --button-text-color-alt: white;
  --button-hover-background: #e0e0e0;
  --button-hover-background-alt: purple;
  --button-hover-text: black;
  --button-active-color: white;

  --soft-color: lightpurple;

  --calendar-red: lightcoral;
  --calendar-green: lightgreen;
  --calendar-blue: #9dd7e6;
  --calendar-yellow: #ffffc0;
  --calendar-silver: #e3e3e3;
  --calendar-purple: #e3b0fb;
  --calendar-gray: lightgrey;
  --calendar-white: white;


  --header-background-color: purple;
  --header-text-color: white;
  --header-icon-color: white;
  --navigation-background-color: white;
  --navigation-icon-color: rgb(100,100,100);
  --navigation-active-icon-color: purple;

	--error-bg: rgb(255,155,155);

  --active-color: purple;
  --active-hover-color: rgb(180,0,180);
  --dark-color: #570557;

  --outline-color: rgb(180,180,180);

  --anchor-color: purple;
  --anchor-hover: black;
}
