:root {
  --norm-font: "robotoregular";
  --light-font: "robotolight";
  --bold-font: "robotobold";

  --background-image: url('../img/sunset.jpg');
  --secondary-background-color: rgb(210,210,210);
  --container-background-color: rgba(0, 0, 0, 0.5);
  --container-text-color: #ccc;
  --countdown-text-color: #e1b9d4;
  --gallery-dot-color: #888;

  --button-background-color: white;
  --button-text-color: black;
  --button-text-color-alt: white;
  --button-hover-background: rgba(196, 196, 196, 0.5);
  --button-hover-background-alt: rgba(100, 149, 237, 0.8);
  --button-hover-text: black;
  --button-active-color: rgba(0, 0, 0, 0.5);

  --soft-color: #733;

  --calendar-red: #c04040;
  --calendar-green: #50be50;
  --calendar-blue: #5da7b6;
  --calendar-yellow: #cfcf80;
  --calendar-silver: #a3a3a3;
  --calendar-purple: #9360cb;
  --calendar-gray: #737373;
  --calendar-white: #ccc;


  --header-background-color: #c75ba0;
  --header-text-color: white;
  --header-icon-color: white;
  --navigation-background-color: #863d62;
  --navigation-icon-color: rgb(173, 94, 66);
  --navigation-active-icon-color: #e54d32;

	--error-bg: rgb(155,155,155);

  --active-color: #e00f54;
  --active-hover-color: rgb(150,150,150);
  --dark-color: #555;

  --outline-color: rgb(180,180,180);

  --anchor-color: #e8e8e8;
  --anchor-hover: black;
}
