:root {
  --norm-font: "robotoregular";
  --light-font: "robotolight";
  --bold-font: "robotobold";

  --background-image: url('../img/vaporwave.png');
  --secondary-background-color: rgb(210,210,210);
  --container-background-color: rgba(0, 0, 0, 0.5);
  --container-text-color: #ffffff;
  --countdown-text-color: #f6b6e9;
  --gallery-dot-color: #D3D3D3;

  --button-background-color: #000000;
  --button-text-color: #ffffff;
  --button-text-color-alt: #ffffff;
  --button-hover-background: rgba(0, 0, 0, 0.5);
  --button-hover-background-alt: rgba(121, 11, 103, 0.8);
  --button-hover-text: white;
  --button-active-color: rgba(0, 0, 0, 0.5);

  --soft-color: #af5e5e;

  --calendar-red: #c04040;
  --calendar-green: #50be50;
  --calendar-blue: #5da7b6;
  --calendar-yellow: #cfcf80;
  --calendar-silver: #a3a3a3;
  --calendar-purple: #9360cb;
  --calendar-gray: #737373;
  --calendar-white: #ccc;


  --header-background-color: #031c26;
  --header-text-color: white;
  --header-icon-color: white;
  --navigation-background-color: #26020f;
  --navigation-icon-color: rgb(100,100,100);
  --navigation-active-icon-color: #d31cbb;

	--error-bg: rgb(182, 57, 176);

  --active-color: #9a0ba4;
  --active-hover-color: rgb(241, 67, 238);
  --dark-color: #4d0536;

  --outline-color: rgb(180,180,180);

  --anchor-color: #9b2483;
  --anchor-hover: #000000;
}
